[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-css-color"]
	path = pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/plugins/start/vim-better-whitespace"]
	path = pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/plugins/start/vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
