[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-css-color"]
	path = pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/plugins/start/vim-better-whitespace"]
	path = pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/plugins/start/vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/plugins/start/ZoomWin"]
	path = pack/plugins/start/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "pack/plugins/start/spreadsheet.vim"]
	path = pack/plugins/start/spreadsheet.vim
	url = https://github.com/vim-scripts/spreadsheet.vim
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/SimpylFold"]
	path = pack/plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/vim-speeddating"]
	path = pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "pack/plugins/start/vim-workspace"]
	path = pack/plugins/start/vim-workspace
	url = https://github.com/thaerkh/vim-workspace.git
[submodule "pack/plugins/start/vim-floaterm"]
	path = pack/plugins/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
