##   /etc/crontab: system-wide crontab
##   Unlike any other crontab you don't have to run the `crontab'
##   command to install the new version when you edit this file
##   and files in /etc/cron.d. These files also have username fields,
##   that none of the other crontabs do.

##   Entry      Description                                                             Equivalent To
##   @yearly    Run once a year at midnight in the morning of January 1                 0 0 1 1 *
##   @annually  Run once a year at midnight in the morning of January 1                 0 0 1 1 *
##   @monthly   Run once a month at midnight in the morning of the first of the month   0 0 1 * *
##   @weekly    Run once a week at midnight in the morning of Sunday                    0 0 * * 0
##   @daily     Run once a day at midnight                                              0 0 * * *
##   @hourly    Run once an hour at the beginning of the hour                           0 * * * *
##   @reboot    Run at startup
##
##   *    *    *    *    *  command to be executed
##   ┬    ┬    ┬    ┬    ┬
##   │    │    │    │    │
##   │    │    │    │    │
##   │    │    │    │    └───── day of week (0 - 7) (0 or 7 are Sunday, or use names)
##   │    │    │    └────────── month (1 - 12)
##   │    │    └─────────────── day of month (1 - 31)
##   │    └──────────────────── hour (0 - 23)
##   └───────────────────────── min (0 - 59)
##
##
##
##   The following example will run each 10 minutes
##   */10 * * * * /usr/bin/somedirectory/somecommand

SHELL=/bin/bash

##   Disable E-mail notifications
MAILTO=""

##   Set where to look for executable files
PATH=/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/sbin:/usr/local/bin:$PATH

##   Example of job definition:
17 *  *  *  *  root  cd / && run-parts --report /etc/cron.hourly
25 21 *  *  *  root  [[ -x /usr/sbin/anacron ]] || { cd / && run-parts --report /etc/cron.daily; }
47 21 *  *  7  root  [[ -x /usr/sbin/anacron ]] || { cd / && run-parts --report /etc/cron.weekly; }
52 21 1  *  *  root  [[ -x /usr/sbin/anacron ]] || { cd / && run-parts --report /etc/cron.monthly; }
@daily         root  /usr/bin/find /tmp -type f ! -user root -atime +3 -delete
